---
layout: layouts/base.njk
title: "Acerca"
description: "Acerca."
permalink: /acerca/
---

<div class="acerca">
  <header class="page-header page-header-ruled">
    <h1 class="page-title">Acerca</h1>
  </header>
  <div class="acerca-body reading">
    <p>{{ site.name }} desde septiembre de {{ site.year }}.</p>
  <figure class="content-figure acerca-figure">
    <img
      src="{{ '/images/acerca.png' | url }}"
      alt="acerca"
      width="5424"
      height="3616"
      decoding="async"
      loading="eager"
    >
  </figure>
    <p><i>Mori Somnia Non Memorias.</i></p>
  </div>
</div>
