---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set staticPages = ["/", "/archivo/", "/azar/", "/buscar/", "/acerca/", "/changelog/"] %}
  {% for path in staticPages %}
  <url>
    <loc>{{ path | absoluteUrl(site.url) }}</loc>
  </url>
  {% endfor %}
  {% for item in collections.textos %}
  <url>
    <loc>{{ item.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ item.date | formatDateIso }}</lastmod>
  </url>
  {% endfor %}
</urlset>
