{% if imageData %}
<figure class="content-figure{% if figureClass %} {{ figureClass }}{% endif %}">
  <img
    src="{{ imageData.src | url }}"
    alt="{{ imageData.alt }}"
    {% if imageData.width and imageData.height %}width="{{ imageData.width }}" height="{{ imageData.height }}"{% endif %}
    decoding="async"
    {% if imagePriority %}
    loading="eager"
    fetchpriority="high"
    {% else %}
    loading="lazy"
    {% endif %}
  >
</figure>
{% endif %}
