<footer class="site-footer noise-surface" data-pagefind-ignore>
  <div class="site-shell site-footer-inner">
    <a href="{{ '/feed.xml' | url }}">RSS</a>
    <a href="{{ '/acerca/' | url }}">Acerca de</a>
  </div>
</footer>
