{% set pageTitle = title | default(site.name) %}
{% set pageDescription = description | default(site.description) %}
{% set canonicalUrl = page.url | absoluteUrl(site.url) %}

<title>{% if title and page.url != "/" %}{{ title }} - {% endif %}{{ site.name }}</title>
<meta name="description" content="{{ pageDescription }}">
<link rel="canonical" href="{{ canonicalUrl }}">

<meta property="og:type" content="{% if id %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if title and page.url != "/" %}{{ title }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:url" content="{{ canonicalUrl }}">
<meta property="og:site_name" content="{{ site.name }}">
